<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Dashboard</title>
</head>
<body>
    <h1>Ultimate Dashboard</h1>
    <button onclick="location.href='student_dashboard.ejs'">Go to File 1</button>
    <button onclick="location.href='file2.ejs'">Go to File 2</button>
    <button onclick="location.href='file3.ejs'">Go to File 3</button>
</body>
</html>